.display {
    padding: 20px;
    background-color: #1d2b36;
    color: white;
    padding-bottom: 50px;
}

.display-title {
    text-align: center;
    margin-bottom: 30px;
    font-family: "roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
}

.card {
    background-color: #243847;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    height: 550px;
}

.card:hover {
    transform: translateY(-10px);
}

.challenge-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content {
    padding: 20px;
    margin: 20px;
}

.content h3 {
    font-family: "poppins", sans-serif;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}

.status-tag {
    justify-content: center;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 13px;
    margin-left: 80px;
}

.status-tag.upcoming {
    background-color: #ffd700;
    color: black;
}

.status-tag.active {
    background-color: #32cd32;
    color: black;
}

.status-tag.past {
    background-color: #ff4500;
    color: white;
    margin-left: 90px;
}

.timing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.participate {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 0px;
}

.participate:hover {
    background-color: #218838;
}

.timing .time {
    margin-left: 15px;
    letter-spacing: 10px;
    font-weight: 600;
}

.timing .text {
    font-size: 15px;
    letter-spacing: 4px;
    margin-right: -10px;
    font-family: 'inter', sans-serif;
}

.timing .dis {
    margin-left: 65px;
}

@media (max-width: 1040px) {
    .participate {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 13px;
        width: 160px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .participate:hover {
        background-color: #218838;
    }
    .timing {
        margin-top: 10px;
    }
    .timing .time {
        margin-left: 15px;
        letter-spacing: 10px;
        font-weight: 600;
        margin-top: 10px;
    }
    .timing .text {
        font-size: 15px;
        letter-spacing: 4px;
        margin-right: -10px;
        font-family: 'inter', sans-serif;
        margin-top: 5px;
    }
    .timing .dis {
        margin-left: 65px;
        width: 150px;
    }
}

@media (max-width:800px) {
    .challenge-image {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .content {
        padding: 40px;
        margin: 20px;
    }
    .content h3 {
        font-family: "poppins", sans-serif;
        margin-top: 15px;
        font-weight: 500;
        text-align: center;
        font-size: 17px;
    }
    .status-tag {
        justify-content: center;
        padding: 5px 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        text-align: center;
        font-family: "inter", sans-serif;
        font-size: 13px;
        margin-left: 80px;
    }
    .status-tag.upcoming {
        background-color: #ffd700;
        color: black;
    }
    .status-tag.active {
        background-color: #32cd32;
        color: black;
    }
    .status-tag.past {
        background-color: #ff4500;
        color: white;
        margin-left: 90px;
    }
    .timing {
        margin-top: 50px;
    }
    .timing .time {
        margin-left: 15px;
        letter-spacing: 10px;
        font-weight: 600;
        margin-top: 10px;
    }
    .timing .text {
        font-size: 15px;
        letter-spacing: 4px;
        margin-right: -10px;
        font-family: 'inter', sans-serif;
        margin-top: 5px;
    }
    .timing .dis {
        margin-left: 65px;
        width: 150px;
    }
}

@media (max-width: 424px) {
    .challenge-image {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .content {
        padding: 20px;
        margin: 10px;
    }
    .content h3 {
        font-family: "Poppins", sans-serif;
        margin-top: 15px;
        font-weight: 500;
        text-align: center;
        font-size: 20px;
    }
    .status-tag {
        justify-content: center;
        padding: 5px 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        margin-left: 80px;
    }
    .status-tag.upcoming {
        background-color: #ffd700;
        color: black;
    }
    .status-tag.active {
        background-color: #32cd32;
        color: black;
    }
    .status-tag.past {
        background-color: #ff4500;
        color: white;
    }
    .timing {
        margin-top: 20px;
    }
    .timing .time {
        margin-left: 20px;
        letter-spacing: 5px;
        font-weight: 600;
        margin-top: 10px;
        text-align: center;
    }
    .timing .text {
        font-size: 14px;
        letter-spacing: 2px;
        margin-left: 20px;
        font-family: 'Inter', sans-serif;
        margin-top: 5px;
        text-align: center;
    }
    .timing .dis {
        margin-left: 60px;
        width: auto;
    }
}